<a href="https://colab.research.google.com/github/aledroza/AluraOne/blob/main/Copia_de_AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
#tienda2.head()
#tienda3.head()
#tienda4.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

Calculando el promedio de Clasificacion de los clientes de las 4 tiendas.

In [ ]:
# prompt: crear un codigo que analice cual es el promedio de clasificacion de los clientes en las 4 tiendas
import pandas as pd
# definiendo tiendas
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
# Concatenar los dataframes de las tiendas
tiendas_df = pd.concat([tienda, tienda2, tienda3, tienda4])

# Imprimir los nombres de las columnas para verificar el nombre correcto de la columna de clasificación
# print("Columnas disponibles en el DataFrame concatenado:")
# print(tiendas_df.columns)

# Reemplaza 'NombreDeLaColumnaCorrecto' con el nombre exacto de la columna de clasificación que encuentres en el output anterior.
# Por ejemplo, si la columna se llama 'Rating', cambia 'NombreDeLaColumnaCorrecto' a 'Rating'.
# Si la columna se llama 'Calificacion_Cliente', cambia 'NombreDeLaColumnaCorrecto' a 'Calificacion_Cliente'.
try:
    # Intenta usar el nombre de columna que crees que es el correcto.
    # Si el print de columnas te muestra un nombre diferente, úsalo aquí.
    promedio_clasificacion = tiendas_df['Calificación'].mean() # Asumiendo que la columna se llama 'Calificación' (sin mayúscula inicial en la base de datos)
except KeyError:
    # Si 'Calificación' tampoco funciona, puedes probar con otros nombres comunes o referirte al output de tiendas_df.columns
    # print("La columna 'Calificación' no fue encontrada. Por favor, verifica el nombre correcto de la columna en el output de tiendas_df.columns")
    # Por ahora, puedes intentar con 'clasificacion' si crees que podría ser ese el nombre
    try:
        promedio_clasificacion = tiendas_df['clasificacion'].mean()
    except KeyError:
        print("No se encontró una columna de clasificación común. Por favor, examine el output de tiendas_df.columns y actualice el código con el nombre correcto.")
        promedio_clasificacion = None # O manejar el error de otra forma

if promedio_clasificacion is not None:
    print(f"El promedio de clasificación de los clientes en las 4 tiendas es: {promedio_clasificacion}")

El promedio de clasificación de los clientes en las 4 tiendas es: 4.014520402755696

#1. Análisis de facturación

In [ ]:
# prompt: Generar codigo para analizar la facturacion total de las 4 tiendas
# Calcular la facturación total por tienda
facturacion_tienda1 = tienda['Precio' ].sum()
facturacion_tienda2 = tienda2['Precio'].sum()
facturacion_tienda3 = tienda3['Precio'].sum()
facturacion_tienda4 = tienda4['Precio'].sum()


# Calcular la facturación total de las 4 tiendas combinadas
facturacion_total_combinada = tiendas_df['Precio'].sum()


print(f"Facturación total Tienda 1: {facturacion_tienda1}")
print(f"Facturación total Tienda 2: {facturacion_tienda2}")
print(f"Facturación total Tienda 3: {facturacion_tienda3}")
print(f"Facturación total Tienda 4: {facturacion_tienda4}")
print(f"Facturación total de las 4 tiendas combinadas: {facturacion_total_combinada}")

Facturación total Tienda 1: 1150880400.0
Facturación total Tienda 2: 1116343500.0
Facturación total Tienda 3: 1098019600.0
Facturación total Tienda 4: 1038375700.0
Facturación total de las 4 tiendas combinadas: 4403619200.0

In [ ]:
# prompt: generar codigo para analizar de las 4 tiendas, cual tuvo menor facturacion total

# Crear un diccionario para almacenar la facturación por tienda
facturacion_por_tienda = {
    'Tienda 1': facturacion_tienda1,
    'Tienda 2': facturacion_tienda2,
    'Tienda 3': facturacion_tienda3,
    'Tienda 4': facturacion_tienda4
}

# Encontrar la tienda con la menor facturación
tienda_menor_facturacion = min(facturacion_por_tienda, key=facturacion_por_tienda.get)
menor_facturacion = facturacion_por_tienda[tienda_menor_facturacion]

print(f"\nLa tienda con la menor facturación total es: {tienda_menor_facturacion} con una facturación de {menor_facturacion}")

La tienda con la menor facturación total es: Tienda 4 con una facturación de 1038375700.0

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda

In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tiendas_df = pd.concat([tienda, tienda2, tienda3, tienda4])

# Imprimir los nombres de las columnas para verificar el nombre correcto de la columna de costo de envío
# print("Columnas disponibles en el DataFrame concatenado:")
# print(tiendas_df.columns)

# Reemplaza 'NombreDeLaColumnaCorrecto' con el nombre exacto de la columna de costo de envío que encuentres en el output anterior.
# Por ejemplo, si la columna se llama 'Rating', cambia 'NombreDeLaColumnaCorrecto' a 'Rating'.
# Si la columna se llama 'Calificacion_Cliente', cambia 'NombreDeLaColumnaCorrecto' a 'Calificacion_Cliente'.
try:
    # Intenta usar el nombre de columna que crees que es el correcto.
    # Si el print de columnas te muestra un nombre diferente, úsalo aquí.
    promedio_costo_de_envío = tiendas_df['Costo de envío'].mean() # Asumiendo que la columna se llama 'Costo de envío' (sin mayúscula inicial en la base de datos)
except KeyError:
    # Si 'Costo de envío' tampoco funciona, puedes probar con otros nombres comunes o referirte al output de tiendas_df.columns
    # print("La columna 'Costo de envío' no fue encontrada. Por favor, verifica el nombre correcto de la columna en el output de tiendas_df.columns")
    # Por ahora, puedes intentar con 'costo de envío' si crees que podría ser ese el nombre
    try:
         promedio_costo_de_envío = tiendas_df['Costo de envío'].mean()
    except KeyError:
        print("No se encontró una columna de Costo de envío. Por favor, examine el output de tiendas_df.columns y actualice el código con el nombre correcto.")
        promedio_costo_de_envío = None # O manejar el error de otra forma

if promedio_costo_de_envío is not None:
    print(f"El promedio de Costo de envío en las 4 tiendas es: {promedio_costo_de_envío}")

El promedio de Costo de envío en las 4 tiendas es: 24875.145733969264

In [13]:
# prompt: Generar codigo para analizar los costo de envio total de las 4 tiendas
############################################################### suma total
# Calcular la facturación total por tienda
total_costo_de_envío_tienda1 = tienda['Costo de envío' ].sum()
total_costo_de_envío_tienda2 = tienda2['Costo de envío'].sum()
total_costo_de_envío_tienda3 = tienda3['Costo de envío'].sum()
total_costo_de_envío_tienda4 = tienda4['Costo de envío'].sum()

# Calcular el costo de envio total de las 4 tiendas combinadas
total_costo_de_envío_total_combinada = tiendas_df['Costo de envío'].sum()
###################################################################### cuenta / cantidad total
# Calcular cantidad total de envios por tienda
total_envío_tienda1 = len(tienda['Costo de envío'])
total_envío_tienda2 = len(tienda2['Costo de envío'])
total_envío_tienda3 = len(tienda3['Costo de envío'])
total_envío_tienda4 = len(tienda4['Costo de envío'])

# Calcular cantidad total de envio total de las 4 tiendas combinadas
total_envío_combinada = len(tiendas_df['Costo de envío'])

####################################################### promedio

# Calcular promedio total de envios por tienda
promedio_costo_envío_tienda1 = total_costo_de_envío_tienda1 / total_envío_tienda1
promedio_costo_envío_tienda2 = total_costo_de_envío_tienda2 / total_envío_tienda2
promedio_costo_envío_tienda3 = total_costo_de_envío_tienda3 / total_envío_tienda3
promedio_costo_envío_tienda4 = total_costo_de_envío_tienda4 / total_envío_tienda4

# Calcular promedio total de costo de envio total de las 4 tiendas combinadas
total_promedio_costo_envío_combinada = tiendas_df['Costo de envío'].mean()

###################### impresiones.................................

print(f"\nEl Costo Total de Envio para  Tienda 1: {total_costo_de_envío_tienda1} con una cantidad total de envios de {total_envío_tienda1} para un promedio total de {promedio_costo_envío_tienda1}")
print(f"\nEl Costo Total de Envio para  Tienda 2: {total_costo_de_envío_tienda2} con una cantidad total de envios de {total_envío_tienda2} para un promedio total de {promedio_costo_envío_tienda2}")
print(f"\nEl Costo Total de Envio para  Tienda 3: {total_costo_de_envío_tienda3} con una cantidad total de envios de {total_envío_tienda3} para un promedio total de {promedio_costo_envío_tienda3}")
print(f"\nEl Costo Total de Envio para  Tienda 4: {total_costo_de_envío_tienda4} con una cantidad total de envios de {total_envío_tienda4} para un promedio total de {promedio_costo_envío_tienda4}")
print(f"\nEl Costo Total de Envio para las 4 tiendas es: {total_costo_de_envío_total_combinada} con una cantidad total de envios de {total_envío_combinada} para un promedio total de {total_promedio_costo_envío_combinada}")

############################################### menor costo de envio y envios::::::::::

# Crear un diccionario para costo de envio por tienda
costo_de_envio_por_tienda = {
    'Tienda 1': total_costo_de_envío_tienda1,
    'Tienda 2': total_costo_de_envío_tienda2,
    'Tienda 3': total_costo_de_envío_tienda3,
    'Tienda 4': total_costo_de_envío_tienda4
}

# Crear un diccionario para cantidad de envio por tienda
envio_por_tienda = {
    'Tienda 1': total_envío_tienda1,
    'Tienda 2': total_envío_tienda2,
    'Tienda 3': total_envío_tienda3,
    'Tienda 4': total_envío_tienda4
}



###################################### salto de linea .... analisis resumido....
print("\n")

#################### analisis de costos de envio::::::::::::::::::::::::::
# Encontrar la tienda con el menor costo de envio
tienda_menor_costo_de_envio = min(costo_de_envio_por_tienda, key=costo_de_envio_por_tienda.get)
menor_costos_de_envio = costo_de_envio_por_tienda[tienda_menor_costo_de_envio]

# Encontrar la tienda con el mayor costo de envio
tienda_mayor_costo_de_envio1 = max(costo_de_envio_por_tienda, key=costo_de_envio_por_tienda.get)
mayor_costos_de_envio1 = costo_de_envio_por_tienda[tienda_mayor_costo_de_envio1]

#################### analisis de envios::::::::::::::::::::::::::
# Encontrar la tienda con el menor cantidad  de envios
tienda_menor_cantidad_de_envio = min(envio_por_tienda, key=envio_por_tienda.get)
menor_cantidad_de_envio = envio_por_tienda[tienda_menor_cantidad_de_envio]

# Encontrar la tienda con la mayor cantidad de envios
tienda_mayor_cantidad_de_envio1 = max(envio_por_tienda, key=envio_por_tienda.get)
mayor_cantidad_de_envio1 = envio_por_tienda[tienda_mayor_cantidad_de_envio1]

print(f"\nLa tienda con la menor costo de envio total es: {tienda_menor_costo_de_envio} con un costo de envio de {menor_costos_de_envio}")
print(f"\nLa tienda con el mayor costo de envio total es: {tienda_mayor_costo_de_envio1} con un costo de envio de {mayor_costos_de_envio1}")
print(f"\n")
print(f"\nLa tienda con la menor envios total es: {tienda_menor_cantidad_de_envio} con un costo de envio de {menor_cantidad_de_envio}")
print(f"\nLa tienda con el mayor envios total es: {tienda_mayor_cantidad_de_envio1} con un costo de envio de {mayor_cantidad_de_envio1}")

El Costo Total de Envio para  Tienda 1: 61377900.0 con una cantidad total de envios de 2359 para un promedio total de 26018.60958033065

El Costo Total de Envio para  Tienda 2: 59485100.0 con una cantidad total de envios de 2359 para un promedio total de 25216.235693090293

El Costo Total de Envio para  Tienda 3: 58516600.0 con una cantidad total de envios de 2359 para un promedio total de 24805.680373039424

El Costo Total de Envio para  Tienda 4: 55317400.0 con una cantidad total de envios de 2358 para un promedio total de 23459.457167090754

El Costo Total de Envio para las 4 tiendas es: 234697000.0 con una cantidad total de envios de 9435 para un promedio total de 24875.145733969264



La tienda con la menor costo de envio total es: Tienda 4 con un costo de envio de 55317400.0

La tienda con el mayor costo de envio total es: Tienda 1 con un costo de envio de 61377900.0



La tienda con la menor envios total es: Tienda 4 con un costo de envio de 2358

La tienda con el mayor envios total es: Tienda 1 con un costo de envio de 2359